<h1>About</h1>
<p>Constructable is a construction management tool to handle RFIs (Requests for Information).
</p>

<p>Graphics designed by <a href="http://www.freepik.com">Freepik</a>.</p>

<%= image_tag("banner.jpg", class: "img-responsive")%>
