<h1>About</h1>
<p class="lead">Constructable is a construction management tool to handle RFIs (Requests for Information). It is also a "for-fun" project, made with &hearts; by <a href="http://www.mandyyeung.com" target="_blank">Mandy Yeung</a>. Current features of Constructable, and a list of future improvements, are included below.</p>
<p class="lead">Comments, suggestions, ideas? Check out the <a href="https://github.com/mandyyeung/constructable" target="_blank">source code</a> and contribute <a href="https://github.com/mandyyeung/constructable/issues" target="_blank">here</a>!
</p>

<div class="row">
  <div class="col-sm-6 col-md-6">
    <h3 class="dotted">Current Features</h3>
    <ul class="lead">
      <li><strong>Dashboard Analytics: </strong><span class="text-muted">At-a-glance information to understand key RFI metrics, such as cost impact, rate of change, counts by trade, and most frequent tags</span></li>
      <li><strong>Activity Stream</strong><span class="text-muted"></span></li>
      <li><strong>User Permission Levels</strong><span class="text-muted"></spa</li>
      <li><strong>Import/Export data via CSV</strong><span class="text-muted"></spa</li>
      <li><strong>Upload files with Filepicker.io API</strong><span class="text-muted"></spa</li>
      <li><strong>Responsive and clean design</strong><span class="text-muted"></spa</li>
    </ul>
  </div>
  <div class="col-sm-6 col-md-6">
    <h3 class="dotted">Future Improvements</h3>
    <ul class="lead">
      <li><strong></strong><span class="text-muted"></span></li>
      <li><strong></strong><span class="text-muted"></span></li>
    </ul>
  </div>
</div>

<p>Graphics designed by <a href="http://www.freepik.com">Freepik</a>.</p>

<%= image_tag("banner.jpg", class: "img-responsive")%>
