<h1><span class="glyphicon glyphicon-pushpin"></span> About</h1>
<p class="lead">Constructable is a construction management tool to handle RFIs (Requests for Information). It is also a "for-fun" project, made with &hearts; by <a href="http://www.mandyyeung.com" target="_blank">Mandy Yeung</a>, with Rails 4, PostgreSQL, Javascript, jQuery, Bootstrap, and Sass. File uploads are handled with the Filepicker.io API, and user seed data was generated with the help of Random Users API.</p>
<p class="lead">Current features include an analytics dashboard, a team activity stream, user permission levels (i.e. only design team members can provide an RFI response), import/export via CSV, and flexible search/sort functions.</p>
<p class="lead">Comments, suggestions, ideas? Check out the <a href="https://github.com/mandyyeung/constructable" target="_blank">source code</a> and contribute <a href="https://github.com/mandyyeung/constructable/issues" target="_blank">here</a>!
</p>

<%= image_tag("banner.jpg", class: "img-responsive") %>

<p class="bottom">Graphics designed by <a href="http://www.freepik.com">Freepik</a>.</p>
