<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">About</h1>
  </div>
  <div class="panel-body">
    Constructable is a construction management tool to handle RFIs (Requests for Information).
  </div>
</div>
