<h1>About</h1>
<p class="lead">Constructable is a construction management tool to handle RFIs (Requests for Information). It is also a "for-fun" project, made with &hearts; by <a href="http://www.mandyyeung.com" target="_blank">Mandy Yeung</a>. Current features of Constructable, and a list of future improvements, are included below.</p>
<p class="lead">Comments, suggestions, ideas? Check out the <a href="https://github.com/mandyyeung/constructable" target="_blank">source code</a> and contribute <a href="https://github.com/mandyyeung/constructable/issues" target="_blank">here</a>!
</p>

<p>Graphics designed by <a href="http://www.freepik.com">Freepik</a>.</p>

<%= image_tag("banner.jpg", class: "img-responsive")%>
