created

<% if activity.trackable %>
  <%= link_to %{RFI# #{activity.trackable.id} - #{activity.trackable.subject}},request_path(activity.trackable.id) %>
<% else %>
  which has since been removed
<% end %>

<div class="well"><%= activity.trackable.body %></div>
<span class="text-muted"><%= local_time_ago(activity.trackable.created_at) %><span>
