<h1>Oops!</h1>
<p>Something went wrong, please go back and try again.</p>
<p>If the problem persists, please <%= mail_to 'girloncode@gmail.com', 'report it', subject: 'Something went wrong on Constructable' %>!</p>
