body {
  padding-top: 70px;
}

.navbar-brand {
  padding: 10px 15px;
}

.response {
  padding: 10px 0;
  border-top: 1px solid #ccc;

  &:target {
    background-color: #ccc;
    padding: 10px;
  }
}

a.desc:after {
  content: " \25BC";
}

a.asc:after {
  content: " \25B2";
}
