@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

body {
  font-family: Lato, sans-serif;
  padding-top: 70px;
}

a {
  -o-transition: color 0.5s linear;
  -moz-transition: color 0.5s linear;
  -webkit-transition: color 0.5s linear;
  transition: color 0.5s linear;

  &:hover {
    color: #ccc;
    text-decoration: none;
  }
}

.navbar-brand {
  padding: 10px 15px;
}

.response {
  padding: 10px;
  border-top: 1px solid #ccc;

  &:target {
    background-color: #fff;
  }

  &:last-of-type {
    margin-bottom: 20px;
  }

}


.sort > a.desc:after {
  content: " \25BC";
}

.sort > a.asc:after {
  content: " \25B2";
}
